# Ignorar ficheiros HTML
#*.html

# Ignorar ambiente virtual venv-snap
venv-snap/

# Ignorar todos os ficheiros e subpastas dentro de data/
data/

figuras/

*.pdf
*.csv

# Python cache
__pycache__/

# ficheiros compilados python
*.pyc
*.pyo
*.pyd